<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/persistenciadb</property>
    <property name="hibernate.connection.username">persistenciadb</property>
    <property name="hibernate.connection.password">persistenciadb</property>
    <property name="hibernate.current_session_context_class">managed</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <mapping class="swingdemo.model.Category" />
    <mapping class="swingdemo.model.Item" />
    <mapping class="swingdemo.model.Cliente" />
    <mapping class="swingdemo.model.Tipo" />
    <mapping class="swingdemo.model.Pedidos" />
  </session-factory>
</hibernate-configuration>
